body{
    left: 10%;
    top: 10%;
    position:absolute;
}
 .p{
     background: #086d19;
 }

 .w{
     background: #d4f3d9;
 }
 #anima-div{
    position:absolute;
    height: 13%;
    top:0%;
    left:13%;
    animation:mov-div 10s /*infinite*/;
 }
 @keyframes mov-div{
    0%{top: 0%;left: 13%;}
    5%{top: 12%;left: 13%;}
    10%{top: 24%;left: 13%;}
    15%{top: 24%;left: 25%;}
    22%{top: 37%;left: 25%;}
    26%{top: 37%;left: 38%;}
    32%{top: 37%;left: 50%;}
    39%{top: 50%;left: 50%;}
    42%{top: 61%;left: 50%;}
    46%{top: 61%;left: 62%;}
    49%{top: 61%;left: 75%;}
    53%{top: 75%;left: 75%;}
    59%{top: 87%;left: 75%;}

    64%{top: 75%;left: 75%;}
    70%{top: 61%;left: 75%;}
    75%{top: 61%;left: 62%;}
    76%{top: 61%;left: 50%;}
    79%{top: 50%;left: 50%;}
    82%{top: 37%;left: 50%;}
    89%{top: 37%;left: 38%;}
    91%{top: 37%;left: 25%;}
    95%{top:24%; left: 25%;}
    97%{top:24%; left: 13%;}
    99%{top:12%; left: 13%;}
    100%{top: 0%;left: 13%;}
    
 }